.login-signup-component{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-top: 80px;
}
.login-signup-component-constructor-component{
    width: 41%;
    height: 100%;
}
.option-titles{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.option-titles div{
    height: 100%;
    width: 50%;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.option-titles h4{
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #183765;
}
.form{
    width: 99.7%;
    height: 350px;
    background-color: white;
    border-left: 1px solid #DDDCDA;
    border-right: 1px solid #DDDCDA;
    border-bottom: 1px solid #DDDCDA;
    overflow: hidden;
}


  .active-login {
    border-left: 1px solid #DDDCDA;
    border-top: 1px solid #DDDCDA;
    border-right: 1px solid #DDDCDA;
  }
  
  .inactive {
    background-color: transparent;
    border-bottom: 1px solid #DDDCDA;
  }
  
  /* Styles when Registration is active */
  .active-registration {
    border-left: 1px solid #DDDCDA;
    border-right: 1px solid #DDDCDA;
    border-top: 1px solid #DDDCDA;
  }
  
  /* Change background color when inactive */
  .bg-fbfbfb {
    background-color: #FBFBFB;
  }
  
  /* Inactive text color */
  .inactive h4 {
    color: #C9C9C9;
  }
  .form-expanded {
    height: 550px; /* New height when registration form is active */
  }
  .contact-form{
    display: flex;
    margin-top: 30px;
  }
  .login-form{
    margin-top: 60px;
  }

  .input-icons{
    width: 70%;
    height: 40px;
    background-color: white;
    margin-left: 15%;
    border: 1px solid #DDDCDA;
    margin-top: 25px;
  }

  .input-icons input{
    max-width: 100%;
    width: 93%;
    height: 95%;
    margin-left: 6%;
    border: none;
    outline: 0;
    font-size: 15px;
    font-weight: lighter;
  }
  ::placeholder{
    padding: 0px;
    color: #C9C9D0;
  }
  .input-icons .icon{
    position: absolute;
    margin-top: 6.5px;
    font-size: 25px;
    margin-left: 6.5px;
    color: #A1A1A1;
  }
  .fa-envelope .icon{
    font-size: 18px;
  }
  .login-settings-construction {
    width: 70%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.container {
    display: flex; /* Use flexbox for the label */
    align-items: center; /* Align the checkbox and text vertically */
    position: relative;
    padding-left: 25px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 16px;
    color: #183765;
    user-select: none;
    font-family: sans-serif;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #FD8626;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.login-settings-construction > div {
    flex: 1; /* Make sure the child divs share available space equally */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the 'Forgot your password?' link to the right */
}

.login-settings-construction > div:first-child {
    justify-content: flex-start; /* Align the 'Remember me' to the left */
}
.login-settings-construction > div > p{
    font-family: sans-serif;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
}
.login-button{
    width: 70%;
    height: 40px;
    border: none;
    background-color: #326799;
    margin-left: 15%;
    color: #183765;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .login-signup-component-constructor-component{
    width: 90%;
  }
  .option-titles{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .option-titles h4{
      font-size: 15px;
      font-family: sans-serif;
      text-align: center;
      justify-content: center;
      display: flex;
      color: #183765;
  }
  .input-icons{
    width: 90%;
    height: 40px;
    background-color: transparent;
    margin-left: 5%;
    border: 1px solid #DDDCDA;
    margin-top: 25px;
    overflow: hidden;
  }

  .input-icons input{
    max-width: 100%;
    width: 85%;
    max-width: 85%;
    height: 95%;
    margin-left: 10%;
    border: none;
    outline: 0;
    font-size: 15px;
    font-weight: lighter;
    background-color: transparent;
  }
  ::placeholder{
    padding: 0px;
    color: #C9C9D0;
  }
  .input-icons .icon{
    position: absolute;
    margin-top: 6.5px;
    font-size: 25px;
    margin-left: 6.5px;
    color: #A1A1A1;
  }
  .fa-envelope .icon{
    font-size: 18px;
  }
  .login-settings-construction {
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
  }


  .container {
    display: flex; /* Use flexbox for the label */
    align-items: center; /* Align the checkbox and text vertically */
    position: relative;
    padding-left: 25px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 16px;
    color: #183765;
    user-select: none;
    font-family: sans-serif;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FD8626;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  .login-settings-construction > div {
    flex: 1; /* Make sure the child divs share available space equally */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the 'Forgot your password?' link to the right */
  }

  .login-settings-construction > div:first-child {
    justify-content: flex-start; /* Align the 'Remember me' to the left */
  }
  .login-settings-construction > div > p{
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  .login-button{
    width: 90%;
    height: 40px;
    border: none;
    background-color: #326799;
    margin-left: 5%;
    color: #183765;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
  }
}