<app-navbar [showSlider]="false"></app-navbar>
<div class="buyer-part">
    <div class="buyer-part-construction">
        <div class="buyer-parts">
            <div class="sections-of-buyer">
                 <h3 class="title"><b>Organizer</b></h3>
                 <ul>
                    <li (click)="togglePaymentInfo('allInfo')">ALL</li>
                    <li (click)="togglePaymentInfo('generaltermsInfo')">General Terms and Conditions</li>
                 </ul>
            </div>
        </div>
        <div class="information">
            <div class="info-part" *ngIf="allInfo">
                <h3 class="information-part-title">General Terms and Conditions</h3>
                <pre class="info-text">
TICKETCONCERT.CZ online terms and conditions applicable to the Organizer.

1. On the website www.ticketconcert.cz The organizer and the owner of the website and the owner of the website Luckystar, s.r.o. ICO 17865301, DIC CZ17865301, Chudenická 1059/30, Hostivař, 102 00 Praha, shall enter into a contract for the sale of tickets for the event, which stipulates the exact obligations of the parties.

2. These General Terms and Conditions shall be applicable to all contracts concluded between the Operator and the Purchase Ticket, and in the event of any difference between the General Terms and Conditions and the provisions of the Agreement, the agreement shall prevail.

3. The terms used in these General Terms and Conditions, such as Event, Organizer, Buyer, Ticket Website, Sales Contract, are provided in the Terms of Use for Ticket Buyers and also apply to these General Terms.

4. Luckystar,s.r.o. mediates the possibility of concluding a ticket sale contract for the Event (sale of tickets to the buyer) between the Organizer and the Ticket Buyer through the website www.ticketconcert.cz

5. Luckystar, s.r.o. as an intermediary for the conclusion of the contract of sale (sale of the ticket) shall not be liable for any obligations arising from the legal relationship arising from the contract of sale (purchased ticket) towards the Organizer and the purchaser or third party. Luckystar, s.r.o. shall in no event be liable to the Purchaser for the Buyer's obligations arising from the purchase of the Ticket, such as the occurrence, postponement, alteration of the content, etc. cases.

6. For the sale of Tickets on the website www.ticketconcert.cz the Organizer shall submit an application to the Event for concluding a Ticket Sales Agreement with the Luckystar, s.r.o. If the Ticket is in doubt or incomplete in the application, the Organizer undertakes, upon first request, to provide documentary evidence that confirms the circumstances of the event (confirming the venue leasing agreements, the promoted artists' participation in the event, etc.)

7. Following the conclusion of the ticket sales agreement, the Organizer shall have the right to use the website www.ticketconcert.cz for the sale of tickets. Purchase of a Ticket through the Website shall be deemed to be the conclusion of a sales contract between the Organizer and the Purchaser and MIT shall be considered as an intermediary of the concluded sales contract. In no event shall Luckystar, s.r.o. Intermediate be responsible for the performance of the Event or its content as advertised.

8. In order to obtain an overview of the sale of sales contracts, Luckystar, s.r.o. shall provide the Operator with an information technology facility, on the basis of which the Organizer will have access to the Ticket Sales Information.

9. The Organizer undertakes to repurchase all Tickets if the Event is canceled, as well as in the event of a substantial change in the list of Performing Artists and the Purchaser wishes to return the Ticket as well as when the Event occurs and the Purchaser wishes to return the Ticket.

10. Upon the cancellation of the Event, the Organizer undertakes to provide immediate information on the redemption of the Tickets either on the website of MIT at the advertisement of the Event and in any other manner accessible to the public.

11. The Organizer agrees to place Luckystar, s.r.o. name of the Purchase Ticket generated by the Purchaser after the purchase, as well as to disclose Luckystar, s.r.o. to the public in the Event. The volumes and methods of advertising shall be separately agreed upon.

12. The organizer undertakes not to use other sales contract agents to sell Event tickets.

13. The Organizer shall accept the original, printed or electronic ticket purchased by the Purchaser prior to the event through the Website or on the spot from Luckystar, s.r.o. and, upon presentation, shall ensure admission to the Event.

14. In the event of force majeure, the Parties shall not be liable for breach of the Contract pursuant to the procedure provided for in § 103 of the LOA.

15. These General Terms and Conditions shall remain in force until modified by Luckystar, s.r.o. Changes to the General Terms and Conditions will take effect upon their publication on the Web.

16. By entering into a Ticket Sales Service Agreement with Luckystar, s.r.o., the Organizer agrees to the General Terms and Conditions.

17. Any dispute, disagreement or claim arising from this agreement, which affects its or its violation, termination or invalidity, will be resolved in Prague Arbitration Court, registration number: ICO 05953413, in a written process, in the composition of one arbitrator and in accordance with the regulations of this arbitration court.</pre>
            </div>
            <div class="info-part" *ngIf="generaltermsInfo">
                <h3 class="information-part-title">General Terms and Conditions</h3>
                <pre class="info-text">
TICKETCONCERT.CZ online terms and conditions applicable to the Organizer.

1. On the website www.ticketconcert.cz The organizer and the owner of the website and the owner of the website Luckystar, s.r.o. ICO 17865301, DIC CZ17865301, Chudenická 1059/30, Hostivař, 102 00 Praha, shall enter into a contract for the sale of tickets for the event, which stipulates the exact obligations of the parties.

2. These General Terms and Conditions shall be applicable to all contracts concluded between the Operator and the Purchase Ticket, and in the event of any difference between the General Terms and Conditions and the provisions of the Agreement, the agreement shall prevail.

3. The terms used in these General Terms and Conditions, such as Event, Organizer, Buyer, Ticket Website, Sales Contract, are provided in the Terms of Use for Ticket Buyers and also apply to these General Terms.

4. Luckystar,s.r.o. mediates the possibility of concluding a ticket sale contract for the Event (sale of tickets to the buyer) between the Organizer and the Ticket Buyer through the website www.ticketconcert.cz

5. Luckystar, s.r.o. as an intermediary for the conclusion of the contract of sale (sale of the ticket) shall not be liable for any obligations arising from the legal relationship arising from the contract of sale (purchased ticket) towards the Organizer and the purchaser or third party. Luckystar, s.r.o. shall in no event be liable to the Purchaser for the Buyer's obligations arising from the purchase of the Ticket, such as the occurrence, postponement, alteration of the content, etc. cases.

6. For the sale of Tickets on the website www.ticketconcert.cz the Organizer shall submit an application to the Event for concluding a Ticket Sales Agreement with the Luckystar, s.r.o. If the Ticket is in doubt or incomplete in the application, the Organizer undertakes, upon first request, to provide documentary evidence that confirms the circumstances of the event (confirming the venue leasing agreements, the promoted artists' participation in the event, etc.)

7. Following the conclusion of the ticket sales agreement, the Organizer shall have the right to use the website www.ticketconcert.cz for the sale of tickets. Purchase of a Ticket through the Website shall be deemed to be the conclusion of a sales contract between the Organizer and the Purchaser and MIT shall be considered as an intermediary of the concluded sales contract. In no event shall Luckystar, s.r.o. Intermediate be responsible for the performance of the Event or its content as advertised.

8. In order to obtain an overview of the sale of sales contracts, Luckystar, s.r.o. shall provide the Operator with an information technology facility, on the basis of which the Organizer will have access to the Ticket Sales Information.

9. The Organizer undertakes to repurchase all Tickets if the Event is canceled, as well as in the event of a substantial change in the list of Performing Artists and the Purchaser wishes to return the Ticket as well as when the Event occurs and the Purchaser wishes to return the Ticket.

10. Upon the cancellation of the Event, the Organizer undertakes to provide immediate information on the redemption of the Tickets either on the website of MIT at the advertisement of the Event and in any other manner accessible to the public.

11. The Organizer agrees to place Luckystar, s.r.o. name of the Purchase Ticket generated by the Purchaser after the purchase, as well as to disclose Luckystar, s.r.o. to the public in the Event. The volumes and methods of advertising shall be separately agreed upon.

12. The organizer undertakes not to use other sales contract agents to sell Event tickets.

13. The Organizer shall accept the original, printed or electronic ticket purchased by the Purchaser prior to the event through the Website or on the spot from Luckystar, s.r.o. and, upon presentation, shall ensure admission to the Event.

14. In the event of force majeure, the Parties shall not be liable for breach of the Contract pursuant to the procedure provided for in § 103 of the LOA.

15. These General Terms and Conditions shall remain in force until modified by Luckystar, s.r.o. Changes to the General Terms and Conditions will take effect upon their publication on the Web.

16. By entering into a Ticket Sales Service Agreement with Luckystar, s.r.o., the Organizer agrees to the General Terms and Conditions.

17. Any dispute, disagreement or claim arising from this agreement, which affects its or its violation, termination or invalidity, will be resolved in Prague Arbitration Court, registration number: ICO 05953413, in a written process, in the composition of one arbitrator and in accordance with the regulations of this arbitration court.
                </pre>
            </div>
        </div>
    </div>
</div>
<app-contact-form></app-contact-form>